<div class="assin-var-page"><i class="bi bi-question-circle-fill"></i> <b> Questions to Assign</b></div>
<div class="container" style="margin-top: 70px;">
    <div class="row justify-content-end">
        <div class="col-12 col-md-3 search-bar">
            <input type="text" [value]="searchSignal.searchText()" (input)="updateSearchText($event)"
                class="form-control" placeholder="Search...">
            <button class="btn btn-primary text-center">
                <i class="bi bi-search"></i>
            </button>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead class="tableHead">
                <tr>
                    <th class="col col-srno">Sr. No.</th>
                    <th class="col col-topic">Topic No.</th>
                    <th class="col col-subTopic">Sub-Topic No.</th>
                    <th class="col col-varNo">Variation No.</th>
                    <th class="col col-queType">Question Type</th>
                    <th class="col col-ansType">Answer Type</th>
                    <th class="col col-dod">DOD</th>
                    <th class="col col-assignedTo">Assigned To</th>
                    <th class="col col-action">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of approvedQue; let i = index;">
                    <td>{{ i+1 }}</td>
                    <td>{{ item.topicno }}</td>
                    <td>{{ item.subtopicno }}</td>
                    <td>{{ item.varno }}</td>
                    <td>{{ item.quetype }}</td>
                    <td>{{ item.answertype }}</td>
                    <td>{{ item.dod }}</td>
                    <td *ngIf="item.isassigned!=1">Not assigned yet</td>
                    <td *ngIf="item.isassigned==1">{{item.programmeremailid}}</td>
                    <td class="text-center" *ngIf="item.isassigned!=1">
                        <i class="bi bi-eye-fill" data-bs-toggle="modal" data-bs-target="#myModal"
                            (click)="getReadyForCodingQuestionById(item.id)"></i>
                    </td>

                    <td class="text-center" *ngIf="item.isassigned==1">
                        <button class="btn-danger"> Assigned </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div class="modal " id="myModal" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-scrollable custom-width custom-height">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Question Entry</h4>
                <button type="button" class="btn-close" #closebuttton data-bs-dismiss="modal"
                    (click)="closeModal()"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="container">
                    <form [formGroup]="queForm">
                        <div class="mb-3">
                            <label for="mathTopicsDropdown" class="form-label">Topic :</label>
                            <select id="mathTopicsDropdown" class="form-select" formControlName="topicno">
                                <option value="" disabled selected>Select Topic</option>
                                <option *ngFor="let topic of topics let i = index" [value]="topic.topicno">
                                    {{ topic.topicname1+' '+topic.topicname}}
                                </option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="subTopic" class="form-label">Sub Topic : </label>
                            <select id="subTopicDropdown" class="form-select" formControlName="subtopicno">
                                <option value="" disabled selected>Select Sub Topic</option>
                                <option *ngFor="let subtopic of subtopics let i = index" [value]="subtopic.topicno">
                                    {{ subtopic.topicname1+' '+subtopic.topicname}}
                                </option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="varNo" class="form-label">Variation Number : </label>
                            <input class="form-control" id="varNo" rows="1" placeholder="Enter variation number here"
                                formControlName="varno" />
                        </div>
                        <div class="mb-3">
                            <label for="dod" class="form-label">Degree Of Difficulty ( DOD ): </label>
                            <input class="form-control" id="dod" rows="1" placeholder="Enter the DOD here"
                                formControlName="dod" />
                        </div>
                        <div>
                            <label for="answerTypesDropdown" class="form-label"> Answer Type :</label>
                            <select id="answerTypesDropdown" class="form-select" formControlName="answertype">
                                <!-- Placeholder option -->
                                <option value="" disabled selected>Answer Type</option>

                                <!-- Iterate over combinedArray2 for Answer Types -->
                                <option *ngFor="let AnswerType of answerTypes let i = index" [value]="AnswerType.id">
                                    {{ AnswerType.name }}
                                </option>
                            </select>
                        </div>
                        <div>
                            <!-- Question Type Dropdown -->
                            <label for="questionTypesDropdown" class="form-label">Question Type :</label>
                            <select id="questionTypesDropdown" class="form-select" formControlName="quetype">
                                <option value="" disabled selected>Select Question Type</option>
                                <option *ngFor="let questionType of questionTypes" [value]="questionType">
                                    {{ questionType | titlecase }}
                                </option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="wrongAnswer3" class="form-label">Time : </label>
                            <input class="form-control" id="time" formControlName="time"
                                placeholder="Enter a required time in seconds to solve the question" />
                        </div>

                        <div class="mb-3" *ngIf="questionType=='image'">
                            <label for="fileUpload" class="form-label">View Media : </label>
                            <button class="form-control " (click)="showfile()">View media</button>
                        </div>


                        <div class="container" *ngIf="diplayfile==1">
                            <div class="text-end">
                                <button type="button" class="btn-close" #closebuttton data-bs-dismiss="modal"
                                    (click)="closeFile()"></button>
                            </div>
                            <div class="container text-center">
                                <img class="" [src]="filePath" alt="" class="img-fluid" width="300" height="300">
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="question" class="form-label">Question : </label>
                            <textarea class="form-control" id="question" rows="5" placeholder="Enter the question here"
                                formControlName="question"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="solution" class="form-label">Solution : </label>
                            <textarea class="form-control" id="solution" rows="7" placeholder="Enter the solution here"
                                formControlName="solution"></textarea>
                        </div>

                        <div class="container mt-5">
                            <h3 class="mb-4 progm-list">Assign Question</h3>
                            <div class="table-container border">
                                <table class="table table-bordered table-striped m-0">
                                    <thead class="table-primary">
                                        <tr>
                                            <th class="col">Sr. No.</th>
                                            <th class="col">Programmer Name</th>
                                            <th class="col">Overall Assigned</th>
                                            <th class="col">Currently Assigned</th>
                                            <th class="col">Approved Variations</th>
                                            <th class="col">Performance</th>
                                            <th class="col">Assign</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of programmers; let i = index;"
                                            style="font-size: 16px; font-weight:500;">
                                            <td>{{i+1}}</td>
                                            <td style="font-size: 16px; font-weight:500;">{{item.firstname+"
                                                "+item.lastname}}</td>
                                            <td>{{item.overallassigned}}</td>
                                            <td>{{item.totalassigned}}</td>
                                            <td>{{item.completed}}</td>
                                            <td>{{item.overallperformance}}</td>
                                            <td class="text-center">
                                                <input type="radio" name="action" aria-label="Select Row 1"
                                                    id="progm-radio-click" (click)="selectedProgrammer(item.emailid)">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </form>
                </div>
                <!-- Modal footer -->
                <div class="text-end">
                    <button [disabled]="assignclicked==1" type="button" class="btn btn-success" id="btn-assign"
                        (click)="assignQuestionToProgrammer()">Assign</button>
                    <button type="button" class="btn btn-danger" id="closeModal" (click)="closeModal()">Close</button>
                </div>
            </div>


        </div>
    </div>
</div>

<app-loader *ngIf="loading"></app-loader>