<div class="container py-5">
    <div class="row row_branchen">


        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pt-5">
            <div class="card">
                <a (click)="gotoEmpList(1)" data-bs-toggle="modal" data-bs-target="#myModal">
                    <div class="image__wrapper text-center">
                        <div class="p-3 text-center" style="background-color:#224561 ;">
                            <i class="bi bi-pencil-square" style="color: white;"></i>
                        </div>
                    </div>
                    <div class="card-body pb-4">
                        <h2 class="card-title text-center">CONTRIBUTOR</h2>
                        <p class="card-text">Adding Value, One Contribution at a Time</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pt-5">
            <div class="card">
                <a (click)="gotoEmpList(2)">
                    <div class="image__wrapper text-center">
                        <div class="p-3 text-center" style="background-color:#224561 ;">
                            <i class="bi bi-clipboard-check" style="color: white;"></i>
                        </div>
                    </div>
                    <div class="card-body pb-4">
                        <h2 class="card-title text-center">ASSESOR</h2>
                        <p class="card-text">Reviewing, Evaluating, and Ensuring Quality</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pt-5">
            <div class="card">
                <a (click)="gotoEmpList(3)">
                    <div class="image__wrapper text-center">
                        <div class="p-3 text-center" style="background-color:#224561 ;">
                            <i class="bi bi-person-gear" style="color: white;"></i>
                        </div>
                    </div>
                    <div class="card-body pb-4">
                        <h2 class="card-title text-center">SOLUTION DESIGNER</h2>
                        <p class="card-text">Innovating Solutions for Complex Problems</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pt-5">
            <div class="card">
                <a (click)="gotoEmpList(4)">
                    <div class="image__wrapper text-center">
                        <div class="p-3 text-center" style="background-color:#224561 ;">
                            <i class="bi bi-laptop-fill" style="color: white;"></i>
                        </div>
                    </div>
                    <div class="card-body pb-4">
                        <h2 class="card-title text-center">PROGRAMMER</h2>
                        <p class="card-text">Transforming Ideas into Functional Code</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pt-5">
            <div class="card">
                <a (click)="gotoEmpList(5)">
                    <div class="image__wrapper text-center">
                        <div class="p-3 text-center" style="background-color:#224561 ;">
                            <i class="bi bi-patch-check-fill" style="color: white;"></i>
                        </div>
                    </div>
                    <div class="card-body pb-4">
                        <h2 class="card-title text-center">APPROVER</h2>
                        <p class="card-text">Ensuring Accuracy and Granting Approval</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pt-5">
            <div class="card">
                <a (click)="gotoEmpList(6)">
                    <div class="image__wrapper text-center">
                        <div class="p-3 text-center" style="background-color:#224561 ;">
                            <i class="bi bi-shield-check" style="color: white;"></i>
                        </div>
                    </div>
                    <div class="card-body pb-4">
                        <h2 class="card-title text-center">MODERATOR</h2>
                        <p class="card-text">Maintaining Order and Ensuring Compliance</p>
                    </div>
                </a>
            </div>
        </div>


    </div>
</div>