<div class="assin-var-page"><i class="bi bi-patch-check-fill"></i> <b>Ready for Moderation</b></div>
<div class="container" style="margin-top: 70px;">
    <div class="row justify-content-end">
        <div class="col-12 col-md-3 search-bar">
            <input 
  type="text" 
  [value]="searchText" 
  (input)="updateSearchText($event)" 
  class="form-control" 
  placeholder="Search..."
>
            <button class="btn btn-primary text-center">
                <i class="bi bi-search"></i>
            </button>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead class="tableHead">
                <tr>
                    <th class="col col-srno">Sr. No.</th>
                    <th class="col col-topic">Topic No.</th>
                    <th class="col col-variation">Variation No.</th>
                    <th class="col col-dod">DOD</th>
                    <th class="col col-assign-date">Approved Date</th>
                    <th class="col col-assign-by">Approved By</th>
                    <th class="col col-uploaded-date">Uploaded Date</th>
                    <th class="col col-programmer">Moderator</th>
                    <th class="col col-status">Status</th>
                    <th class="col col-action">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of filteredQue; let i=index">
                    <td>{{i+1}}</td>
                    <td>{{ item.subtopicno}}</td>
                    <td>{{ item.varno }}</td>
                    <td>{{ item.dod }}</td>
                    <td>{{ item.approvedate }}</td>
                    <td>{{ item.approveremailid }}</td>
                    <td>{{ item.uploadeddateformoderation }}</td>
                    <td *ngIf="item.sendformoderation==1">{{ item.moderatoremailid }}</td>
                    <td *ngIf="item.sendformoderation!=1">Moderator not assigned</td>
                    <td *ngIf="item.sendbackformoderation!=1" style="color: rgba(255, 0, 0, 0.788);">Pending Moderation</td>
                    <td style="background-color: tomato;" *ngIf="item.sendbackformoderation==1"> Moderation Changes</td>
                    <td *ngIf="item.moderationchange!=1" class="text-center">
                        <i class="bi bi-pencil-square" data-bs-toggle="modal" data-bs-target="#myModal"
                            (click)="getApprovedQuestionById(item.id,item.sendbackformoderation)"></i>
                    </td>
                    <td *ngIf="item.moderationchange==1" class="text-center">
                        <button class="btn-danger">sent</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



<div class="modal " id="myModal" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-scrollable custom-width custom-height">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Approved Variations & Moderation Process</h4>
                <button type="button" class="btn-close" #closebuttton data-bs-dismiss="modal"
                    (click)="closeModal()"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="container mt-5">
                    <form [formGroup]="queForm">
                        <div class="mb-3">
                            <label for="mathTopicsDropdown" class="form-label">Select Topic :</label>
                            <select id="mathTopicsDropdown" class="form-select" formControlName="topicno">
                                <option value="" disabled selected>Select Topic</option>
                                <option *ngFor="let topic of topics let i = index" [value]="topic.topicno">
                                    {{ topic.topicname1+' '+topic.topicname}}
                                </option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="subTopic" class="form-label">Select Sub Topic : </label>
                            <select id="subTopicDropdown" class="form-select" formControlName="subtopicno">
                                <option value="" disabled selected>Select Sub Topic</option>
                                <option *ngFor="let subtopic of subtopics let i = index" [value]="subtopic.topicno">
                                    {{ subtopic.topicname1+' '+subtopic.topicname}}
                                </option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="varNo" class="form-label">Variation Number : </label>
                            <input class="form-control" id="varNo" rows="1" placeholder="Enter variation number here"
                                formControlName="varno" />
                        </div>
                        <div class="mb-3">
                            <label for="dod" class="form-label">Degree Of Difficulty ( DOD ): </label>
                            <input class="form-control" id="dod" rows="1" placeholder="Enter the DOD here"
                                formControlName="dod" />
                        </div>
                        <div>
                            <label for="answerTypesDropdown" class="form-label">Select Answer Type :</label>
                            <select id="answerTypesDropdown" class="form-select" formControlName="answertype">
                                <!-- Placeholder option -->
                                <option value="" disabled selected>Select Answer Type</option>

                                <!-- Iterate over combinedArray2 for Answer Types -->
                                <option *ngFor="let AnswerType of answerTypes let i = index" [value]="AnswerType.id">
                                    {{ AnswerType.name }}
                                </option>
                            </select>
                        </div>
                        <div>
                            <!-- Question Type Dropdown -->
                            <label for="questionTypesDropdown" class="form-label">Select Question Type :</label>
                            <select id="questionTypesDropdown" class="form-select" formControlName="quetype">
                                <option value="" disabled selected>Select Question Type</option>
                                <option *ngFor="let questionType of questionTypes" [value]="questionType">
                                    {{ questionType | titlecase }}
                                </option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="wrongAnswer3" class="form-label">Time : </label>
                            <input class="form-control" id="time" formControlName="time"
                                placeholder="Enter a required time in seconds to solve the question" />
                        </div>

                        <div class="container-fluid">
                            <div class="mb-3">
                                <label for="comment" class="form-label">Comment : </label>
                                <textarea class="form-control" id="comment" rows="5" placeholder="Enter a comment "
                                    formControlName="moderationcomments"></textarea>
                            </div>
                        </div>

                    </form>
                </div>
                <!-- Modal footer -->
                <div class="text-end">
                    <button *ngIf="sendbackmoderation!=1" [disabled]="clicked==1" type="button" class="btn btn-primary"
                        id="btn-assign" (click)="sendForModeration()">Send for
                        Moderation </button>
                    <button *ngIf="sendbackmoderation==1" type="button" class="btn btn-primary" id="btn-assign"
                        (click)="sendBackForModeration()">Send Back for
                        Moderation </button>
                    <button type="button" class="btn btn-danger" id="closeModal" (click)="closeModal()">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>