.col-srno {
    width: 5%;
  }
  
  .col-topic {
    width: 7%;
  }
  
  .col-subTopic {
    width: 7%;
  }
  
  .col-queType {
    width: 10%;
  }
  .col-ansType{
    width: 8%;
  }
  
  .col-varNo {
    width: 7%;
  }
  .col-dod{
    width: 5%;
  }
  .col-contriId{
    width: 10%;
  }
  .col-date{
    width: 10%;
  }
  .col-assignedTo{
    width: 10%;
  }
  .col-action {
    width: 10%;
    max-height: 100px;
    /* Set a fixed height for the cells */
    overflow-y: auto;
    white-space: nowrap;
    /* Prevent text from wrapping */
  }
  
  /* Apply scroll styling only to table cells */
  tbody td {
    max-height: 100px;
    overflow-y: auto;
  }
  
  
  .col {
    background-color: #214561;
    color: white;
    font-size: 14px;
  }
  
  td {
    font-size: 14px;
  }
  
  .assin-var-page {
    font-size: 18px;
    margin: 10px;
    color: #214561;
  }
  
  .bi {
    margin-right: 10px;
  }
  
  #table-body {
    background-color: #f8f9fa;
  }
  
  .btn {
    margin: 10px;
    padding: 3px 15px;
  }
  
  .bi-eye-fill {
    font-size: 25px;
    color: #214561;
  }
  
  .bi-trash-fill {
    font-size: 25px;
    color: #214561;
  }
  
  #contributors{
    border-top: 1px solid #214561;
    padding: 20px;
    margin-top: 20px;
    /* background-color: #81c8ff; */
  }
  
  
  /* /////////////////////////// srarch bar /////////////////////////// */
  
  .search-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;
  }
  
  .search-bar input[type="text"] {
    border-radius: 0;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 12px;
  }
  
  .search-bar .btn {
    align-items: center;
    border-radius: 0;
    border-radius: 5px;
    background-color: #214561;
  }
  
  .bi-search {
    margin-right: 0px;
  }
  
  .scroll-heading{
    background-color: #c7d5e1;
    font-size: 18px;
    font-weight: 700;
    color: #214561;
  }