<div class="overflow-auto" style="height: 88vh;">
    <div class="p-2 text-white">

        <!-- empty row for Space -->
        <div class="row"></div>

        <!-- /////////////////////////////////// six card part for all over count //////////////////////////// -->

        <div class="container-fluid mt-5 mb-4">
            <div class="row">
                <h1 class="text-center card-heading">LATEST STATUS REPORT</h1>
                <div class="col-12 col-md-6 col-lg-4 ">
                    <div class=" border bg-light">
                        <div class="row">
                            <div class="col-12 col-lg-3 " style="background-color:#1C4E80 ;">
                                <div class="p-3 text-center">
                                    <i class="bi bi-chat-square-text" style="font-size: 4rem; color: white;"></i>
                                </div>
                            </div>
                            <div class="col-12 col-lg-9 ">
                                <div class="p-3 ">
                                    <h4 style="color:#1C4E80; font-weight: 700;">Contributed Questions</h4>
                                    <h2 style="color:#1C4E80; font-weight: 700;">{{totalQuestions}}</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 ">
                    <div class=" border bg-light">
                        <div class="row">
                            <div class="col-12 col-lg-3 " style="background-color:#EA6A47 ;">
                                <div class="p-3 text-center">
                                    <i class="bi bi-clock" style="font-size: 4rem; color: white;"></i>
                                </div>
                            </div>
                            <div class="col-12 col-lg-9 ">
                                <div class="p-3 ">
                                    <h4 style="color:#EA6A47; font-weight: 700;">Pending For Assigning</h4>
                                    <h2 style="color:#EA6A47; font-weight: 700;">{{getPendingForAssignQuestionsDetails}}</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 ">
                    <div class=" border bg-light">
                        <div class="row">
                            <div class="col-12 col-lg-3 " style="background-color:#0091D5 ;">
                                <div class="p-3 text-center">
                                    <i class="bi bi-hourglass-split" style="font-size: 4rem; color: white;"></i>
                                </div>
                            </div>
                            <div class="col-12 col-lg-9 ">
                                <div class="p-3 ">
                                    <h4 style="color:#0091D5; font-weight: 700;">Pending For Programming</h4>
                                    <h2 style="color:#0091D5; font-weight: 700;">{{getPendingForProgrammingQuestionsDetails}}</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12 col-md-6 col-lg-4 ">
                    <div class=" border bg-light">
                        <div class="row">
                            <div class="col-12 col-lg-3 " style="background-color:#a83a13 ;">
                                <div class="p-3 text-center">
                                    <i class="bi bi-three-dots" style="font-size: 4rem; color: white;"></i>
                                </div>
                            </div>
                            <div class="col-12 col-lg-9 ">
                                <div class="p-3 ">
                                    <h4 style="color:#a83a13; font-weight: 700;">In Approval Process</h4>
                                    <h2 style="color:#a83a13; font-weight: 700;">{{totalApprovalProcessQueDetails}}</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 ">
                    <div class=" border bg-light">
                        <div class="row">
                            <div class="col-12 col-lg-3 " style="background-color:#D32D41; ">
                                <div class="p-3 text-center">
                                    <i class="bi bi-hourglass" style="font-size: 4rem; color: white;"></i>
                                </div>
                            </div>
                            <div class="col-12 col-lg-9 ">
                                <div class="p-3 ">
                                    <h4 style="color:#D32D41; font-weight: 700;">Pending Moderations</h4>
                                    <h2 style="color:#D32D41; font-weight: 700;">{{totalApprovedQueDetails}}</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 ">
                    <div class=" border bg-light">
                        <div class="row">
                            <div class="col-12 col-lg-3 " style="background-color:#217919; ">
                                <div class="p-3 text-center">
                                    <i class="bi bi-shield-check" style="font-size: 4rem; color: white;"></i>
                                </div>
                            </div>
                            <div class="col-12 col-lg-9 ">
                                <div class="p-3 ">
                                    <h4 style="color:#217919; font-weight: 700;">Moderated Variations</h4>
                                    <h2 style="color:#217919; font-weight: 700;">{{moderatedQuestions}}</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- /////////////////////////////////// six card part for daily count //////////////////////////// -->

        <div class="container-fluid mt-5 mb-4">
            <div class="row">
                <h1 class="text-center card-heading">TODAY'S ( {{currentDate}} ) STATUS REPORT</h1>
                <div class="col-12 col-md-6 col-lg-4 ">
                    <div class=" border bg-light">
                        <div class="row">
                            <div class="col-12 col-lg-3 " style="background-color:#1C4E80 ;">
                                <div class="p-3 text-center">
                                    <i class="bi bi-chat-square-text" style="font-size: 4rem; color: white;"></i>
                                </div>
                            </div>
                            <div class="col-12 col-lg-9 ">
                                <div class="p-3 ">
                                    <h4 style="color:#1C4E80; font-weight: 700;">Contributed Questions</h4>
                                    <h2 style="color:#1C4E80; font-weight: 700;">{{getTodaysContrinbutedQuestionsDetails}}</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 ">
                    <div class=" border bg-light">
                        <div class="row">
                            <div class="col-12 col-lg-3 " style="background-color:#EA6A47 ;">
                                <div class="p-3 text-center">
                                    <i class="bi bi-clock" style="font-size: 4rem; color: white;"></i>
                                </div>
                            </div>
                            <div class="col-12 col-lg-9 ">
                                <div class="p-3 ">
                                    <h4 style="color:#EA6A47; font-weight: 700;">Pending For Assigning</h4>
                                    <h2 style="color:#EA6A47; font-weight: 700;">{{getTodaysPendingForAssignQuestionsDetails}}</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 ">
                    <div class=" border bg-light">
                        <div class="row">
                            <div class="col-12 col-lg-3 " style="background-color:#0091D5 ;">
                                <div class="p-3 text-center">
                                    <i class="bi bi-hourglass-split" style="font-size: 4rem; color: white;"></i>
                                </div>
                            </div>
                            <div class="col-12 col-lg-9 ">
                                <div class="p-3 ">
                                    <h4 style="color:#0091D5; font-weight: 700;">Pending For Programming</h4>
                                    <h2 style="color:#0091D5; font-weight: 700;">{{getTodaysPendingForProgrammingQuestionsDetails}}</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12 col-md-6 col-lg-4 ">
                    <div class=" border bg-light">
                        <div class="row">
                            <div class="col-12 col-lg-3 " style="background-color:#a83a13 ;">
                                <div class="p-3 text-center">
                                    <i class="bi bi-three-dots" style="font-size: 4rem; color: white;"></i>
                                </div>
                            </div>
                            <div class="col-12 col-lg-9 ">
                                <div class="p-3 ">
                                    <h4 style="color:#a83a13; font-weight: 700;">In Approval Process</h4>
                                    <h2 style="color:#a83a13; font-weight: 700;">{{totalApprovalProcessQueDetails}}</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 ">
                    <div class=" border bg-light">
                        <div class="row">
                            <div class="col-12 col-lg-3 " style="background-color:#D32D41; ">
                                <div class="p-3 text-center">
                                    <i class="bi bi-hourglass" style="font-size: 4rem; color: white;"></i>
                                </div>
                            </div>
                            <div class="col-12 col-lg-9 ">
                                <div class="p-3 ">
                                    <h4 style="color:#D32D41; font-weight: 700;">Pending Moderations</h4>
                                    <h2 style="color:#D32D41; font-weight: 700;">{{todaysPendingModeration}}</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 ">
                    <div class=" border bg-light">
                        <div class="row">
                            <div class="col-12 col-lg-3 " style="background-color:#217919; ">
                                <div class="p-3 text-center">
                                    <i class="bi bi-shield-check" style="font-size: 4rem; color: white;"></i>
                                </div>
                            </div>
                            <div class="col-12 col-lg-9 ">
                                <div class="p-3 ">
                                    <h4 style="color:#217919; font-weight: 700;">Moderated Variations</h4>
                                    <h2 style="color:#217919; font-weight: 700;">{{todaysModeratedQuestions}}</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <!-- //////////////////////// Graph Part////////////////////// -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-md-12 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">Verticals Report </h2>
                            <canvas id="myBarChart" class="barChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-md-12 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">Monthly Moderated Variations Report {{currentyear}}</h2>
                            <div>
                                <select class="form-select w-auto" [value]="currentyear"
                                    (change)="onYearChange($event)">
                                    <option *ngFor="let year of availableYears" [value]="year">
                                        {{ year }}
                                    </option>
                                </select>
                            </div>
                            <canvas id="mylineChart" class="barChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    
        

        <div class="container-fluid">
            <div class="row">
              <div class="col-sm-12 col-md-12 mb-4">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                      <h2 class="card-title">Monthly Moderated Variations Report {{currentyear}}</h2>
                      <!-- Dropdown for selecting the year -->
                      <div>
                        <select 
                          class="form-select w-auto" 
                          [value]="currentyear" 
                          (change)="onYearChange($event)">
                          <option *ngFor="let year of availableYears" [value]="year">
                            {{ year }}
                          </option>
                        </select>
                      </div>
                    </div>
                    <canvas id="myBarChart1" class="barChart"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div> 
    
    </div>
</div>